body{
    background-image: linear-gradient(to right bottom, #ef443d, #f35650, #f66763, #f87775, #f98787);
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
a :hover{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
button{
    border: none;
}
.card-body{
    background-color: rgb(228, 227, 227);
}
.card{
    border: solid 2px;
    color: rgb(0, 0, 0);
    border-color: white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    line-height: 20px;
    font-size: 12px;
}
h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.nav-button{
    background-color: rgb(253, 90, 90);
    border: solid 2px;
    border-color: white;
    border-radius: 5px;
    margin-right: 5px;
    
    text-align: center;
}
.nav-button :hover{
    
    background-color: rgb(255, 255, 255);
    border-color: tomato;
    
    
    
}